@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Home.css" />

<body>
    

    <div class="text-center">
        <h1 class="display-4">WELCOME TO MAGIC: THE GATHERING <br> DECK BUILDER</h1>
    </div>

    <div class="description">
        <h2>BRINGING PEOPLE TOGETHER WITH FRIENDSHIP, COMPETITION, AND FUN</h2>
        <p>At a glance, <em>Magic</em> is a trading card game filled with strategic battles 
        and unique card decks. But <em>Magic</em> has always been bigger than the box.
        Whether you’re having fun at the kitchen table, or battling in a high-stakes competition, there’s a place for you here.</p>

        <p class="right">In this <em>deck builder</em> you will be able to create and bild your own deck of cards for Magic.
        Enjoy the excitement of creating from scratch your own way of playing the game <em>Magic The Gathering</em> by exploring
        every possible options and combinations of strategy.</p>
    </div>


</body>

