@{
    ViewData["Title"] = "Error";
}

<link rel="stylesheet" href="~/css/DeckError.css" asp-append-version="true" />

<h1>Error</h1>

<p class="error">An error occurred while accessing the deck. Please try again or contact support.</p>

<a href="@Url.Action("Index", "Card")" class="backbtn">Return to Deck Index</a>